HW 3:

- [ ] выложить все тетрадки в гитхаб
> есть только аккаунт
- [ ] выложить задачки Яндекса в гитхаб
- [ ] создать тетрадку для 4 занятия с результатами ДЗ3
добавить свои вопросы

Вопросы:
```
>>> numbers = [2, 1, 3, 4, 7]
>>> more_numbers = [*numbers, 11, 18]
>>> print(*more_numbers, sep=', ')
2, 1, 3, 4, 7, 11, 18
```

In [ ]:
numbers = [2, 1, 3, 4, 7]
more_numbers = [*numbers, 11, 18]
print(*more_numbers, sep=', ')
#2, 1, 3, 4, 7, 11, 18

2, 1, 3, 4, 7, 11, 18

In [ ]:
numbers + [11, 18]

[2, 1, 3, 4, 7, 11, 18]

In [ ]:
a, b, c, *_ = numbers

In [ ]:
type(_)

list

In [ ]:
t = tuple([1, 2, 3])
print(*t, t)

1 2 3 (1, 2, 3)

In [ ]:
d = dict(a=1, b=2)
d2 = dict(**d, c=3)

In [ ]:
d2

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d2['c'], d2.get('c'), d2.get('d', 0), d2.__getitem__('a')

(3, 3, 0, 1)

In [ ]:
[a, b, c,  11, 18]

[2, 1, 3, 11, 18]

In [ ]:
print(more_numbers, sep=', ')

[2, 1, 3, 4, 7, 11, 18]

Текущий статус:

Книга дочитана до 3.4

**HW 4**:
- выложить тетрадки уроков на https://github.com/aksaan
- дочитать до конца Яндекс хендбук и выложить задачи на гитхаб в отдельную папку
- выписать свои вопросы
- изучить matplotlib, построить график курса долара с 2007 года, за последний год, месяц
- написать ДНД игру, проверить на python beautify



* m = str(n)[::-1] - что обозначает [::-1] ?
*
  s_sym_dif = s_1 ^ s_2

  ^ - что обозначает и для чего используется?

*   countries[country] = countries.get(country, []) + [str_number]

    как работает метод get()?

*    x = 1

    y = x

    print(id(x))

    print(id(y))

    print(x is y)

    оператор is() проверяет только принадлежность и равенство по id?

    если мы запишем 'y' как 1, то при is() мы получим false?